<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://az-204-fa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/71ba3bf4-679a-452a-8400-959ef98df994/resourceGroups/learn-90664fb2-a32f-49ea-8f84-6372ecb679af/providers/Microsoft.Web/sites/AZ-204-FA</ResourceId>
    <UserName>$AZ-204-FA</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://az-204-fa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>